@import 'ui-variables'
@background-color-info
img.bookimg  {

  width: 180px;
}
.bgimg  {
     background-image:url("/img/rusticwood.jpg");
      height:80px;
     background-position: center;
}
.topt{

    padding-top: 20px;
     
}
